language: android
sudo: required
jdk: openjdk8

notifications:
  email: false

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

android:
  components:
  - tools
  - platform-tools
  - build-tools-29.0.2
  - android-29
  - extra-google-m2repository
  - extra-android-m2repository
  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+

before_install:
- yes | sdkmanager "platforms;android-28"
- yes | sdkmanager "platforms;android-29"

script:
- ./gradlew clean build --stacktrace

before_deploy:
- openssl aes-256-cbc -K $encrypted_f6e0f94759d3_key -iv $encrypted_f6e0f94759d3_iv
  -in alertify-release-key.jks.enc -out alertify-release-key.jks -d
- cp $TRAVIS_BUILD_DIR/alertify-release-key.jks $HOME
- cd app/build/outputs/apk/release
- jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $HOME/alertify-release-key.jks
  -storepass $STOREPASS -keypass $KEYPASS app-release-unsigned.apk alertify-release-key
- jarsigner -verify app-release-unsigned.apk
- "${ANDROID_HOME}/build-tools/29.0.2/zipalign -v 4 app-release-unsigned.apk Gotify.apk"

deploy:
  provider: releases
  file: Gotify.apk
  api_key: $GH_TOKEN
  skip_cleanup: true
  on:
    repo: alertify/android
    tags: true
    jdk: openjdk8